<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>What is the best area to grow my favorite wine?</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <style type="text/css">body { background:whitesmoke !important; }</style>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 jumbotron text-left" style="background-image: url(https://img.freepik.com/free-photo/top-view-wine-bottles-wooden-background_23-2148214867.jpg?size=626&ext=jpg); background-size: cover; background-position: center; color:black">
        <h1>&nbspWhat is the best area to grow my favorite wine?</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 jumbotron text-center">
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 jumbotron text-center">
        <p>Use the interactive dropdown box below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 jumbotron text-center" style="border:1px solid #000000;">
        <h4>Wine Variety:</h4>
        <select id="selDataset" onchange="optionChanged(this.value)">
          <option value="#">Select one</option>
          <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
          <option value="Chardonnay">Chardonnay</option>
          <option value="Merlot">Merlot</option>
          <option value="Nebbiolo">Nebbiolo</option>
          <option value="Pinot Noir">Pinot Noir</option>
          <option value="Riesling">Riesling</option>
          <option value="Sangiovese">Sangiovese</option>
          <option value="Sauvignon Blanc">Sauvignon Blanc</option>
          <option value="Syrah">Syrah</option>
          <option value="Zinfandel">Zinfandel</option>
        </select>
      </div>
    </div>
    <div>
      <!-- <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->
    </div>    
    <div class="container-fluid">
      <!-- Attribution required -->
      <div class="jumbotron text-center">
        <h5><a href="https://www.freepik.com/photos/background">Background photo created by freepik - www.freepik.com</a></h5>
      </div>
    </div>
  <!-- <script src="../js/dropdown.js"></script> -->
  </body>
</html>
