<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Grow my wine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <style type="text/css">body { background:whitesmoke !important; font-family: Garamond, serif; }</style>
     <!-- Leaflet CSS -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
     crossorigin=""/>
     <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
     <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
  </head>

  <body>
    <label id="mapenvid" name="{{ mapenv }}" style="display: none;"></label>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 jumbotron text-center" style="background-image: url(../static/images/background_updated_v3.jpg); background-size: cover; background-position: center; color:rgb(255, 255, 255); height: 200px; font-weight: bold;">
        <h1>Grow My Wine</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <h3>Where can I grow my favorite wine?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <h4>We analyzed Wine Enthusiast ratings and local weather data for over 53,000 wines from across the world in order to <br>build a model that can predict whether a given location will be 'successful' for growing <i>great</i> wine grapes based on weather. <br><br>
          Use the interactive dropdown box below to see which counties in the United States we recommend for growing each type of wine.</h4><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 text-center">
        <h4>Wine Variety:</h4>       
        <select onchange="optionChanged(this)">
          <option value="#">Select one</option>
          <option value="Cabernet Sauvignon">Cabernet Sauvignon</option>
          <option value="Chardonnay">Chardonnay</option>
          <option value="Merlot">Merlot</option>
          <option value="Pinot Noir">Pinot Noir</option>
          <option value="Riesling">Riesling</option>
          <option value="Sauvignon Blanc">Sauvignon Blanc</option>
          <option value="Syrah">Syrah</option>
        </select>
      </div>
      <!-- creating div container for our map -->
      <div class="col-xs-10 col-sm-10 col-md-10">
        <div id="mapid"></div>
      </div>
    </div>
    <!-- creating div container for our bar chart -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 jumbotron text-center">
        <div id="bar"></div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <!-- Attribution required -->
      <div class="text-left">
        <h5>Attributions:<br>
          <a href="https://www.freepik.com/photos/background" target="_blank">Background photo created by freepik - www.freepik.com</a><br>
          <a href="https://openweathermap.org/" target="_blank">OpenWeather</a>
        </h5>
      </div>
      <!-- D3 JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <!-- Leaflet JavaScript -->
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
      <!-- Plotly JavaScript -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <!-- API key -->
      <script type="text/javascript" src="../static/js/config.js"></script>
      <!-- Our JavaScript -->
      <script type="text/javascript" src="../static/js/leafletmap.js"></script>
  </body>
</html>